* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    font-size: 16px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121111;
    color: white;
}

header .logo {
    width: 60px;
    margin-left: 20px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 10px;
}

header a {
    color: white;
    text-decoration: none;
}

header button {
    height: 40px;
    width: 40px;
    background-color: #121111;
    color: white;
    border: none;
    margin-right: 20px;
}

header ion-icon {
    width: 100%;
    height: 100%;
}

header .border {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background: linear-gradient(90deg, rgba(1, 225, 255, 1) 0%, rgba(139, 255, 172, 1) 100%);
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #121111;
    color: white;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.hero h1 {
    font-size: 10rem;
    font-weight: 600;
}

.hero h4 {
    font-size: 1.3rem;
    padding-left: 8px;
    margin-top: -30px;
}

.hero span {
    display: block;
    font-size: 1.3rem;
    width: fit-content;
    transform: translate(-50%, 0);
}

/* Usefull */
.usefull {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.usefull h2 {
    font-size: 3rem;
    background-color: #121111;
    width: fit-content;
    font-weight: 600;
}

.usefull .usefull-box {
    background: linear-gradient(45deg, rgba(179, 162, 239, 1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(315deg, rgba(255, 164, 209, 1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(235deg, rgba(255, 168, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(125deg, rgba(160, 255, 218, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usefull .row1, .row2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usefull .item {
    margin: 30px;
    border: 3px solid white;
    background-color: #121111;
}

.usefull h3 {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid white;
    padding: 1%;
}

.usefull .item .links {
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
}

.usefull a {
    margin: 2% 0;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    header a{
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    *{
        font-size: 14px;
    }
    header ul{
       display: none;
    }

   .usefull-box .item{
       margin: 15px;
   }

   .usefull .usefull-content{
       width: 100%;
   }
}

@media (max-width: 480px){
    *{
        font-size: 12px;
    }

    .usefull{
        margin: 19px 3px;
    }

    .usefull-box .row1, .row2{
        flex-direction: column;
    }

    .usefull-box .item{
        width: 90%;
    }

    .hero span{
        transform: translate(0,0);
    }
}

@media (max-width: 320px){
    *{
        font-size: 10px;
    }
}