* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    font-size: 16px;
}

input,
textarea {
    outline: none;
    resize: none;
    overflow: hidden;
}

textarea::-webkit-scrollbar {
    width: 0;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121111;
    color: white;
    z-index: 100;
}

header .logo {
    width: 60px;
    margin-left: 20px;
}

header ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
}

header ul li {
    margin: 0 10px;
}

header ul li a:hover {
    border-bottom: white 2px solid;
}

header a {
    color: white;
    text-decoration: none;
    border-bottom: transparent 2px solid;
    transition: 0.1s;
}

.header-burger {
    position: fixed;
    display: none;
    justify-content: center;
    padding-bottom: 20px;
    top: 60px;
    background-color: #121111;
    width: 100%;
}

.header-burger--active {
    display: flex;
}

.header-burger ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.header-burger ul li {
    margin-top: 20px;
}

header .burger-btn {
    height: 40px;
    width: 40px;
    background-color: #121111;
    color: white;
    border: none;
    margin-right: 20px;
    display: none;
}

header ion-icon {
    width: 100%;
    height: 100%;
}

header .border {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background: linear-gradient(90deg, rgba(1, 225, 255, 1) 0%, rgba(139, 255, 172, 1) 100%);
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #EBEBEB;
    background-color: #121111;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.hero h1 {
    font-size: 10rem;
    font-weight: 600;
}

.hero h4 {
    font-size: 1.3rem;
    padding-left: 8px;
    margin-top: -30px;
}

.hero span {
    display: block;
    font-size: 1.3rem;
    width: fit-content;
    transform: translate(-75%, 0);
}

/* Usefull */
.usefull {
    padding: 100px 0;
    margin: auto;
    /* display: flex; */
    max-width: 800px;
}

.usefull h2 {
    margin: auto;
    font-size: 5rem;
    background-color: #121111;
    color: #FFFFFF;
    width: fit-content;
    font-weight: 600;
    margin-bottom: 30px;
}

.usefull .usefull-box {
    background: linear-gradient(45deg, rgba(179, 162, 239, 1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(315deg, rgba(255, 164, 209, 1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(235deg, rgba(255, 168, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(125deg, rgba(160, 255, 218, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border: 5px solid black;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.usefull .usefull-tabs {
    display: flex;
    flex-wrap: wrap;
}

.usefull .usefull-tabs div {
    display: flex;
}

.usefull .usefull-tabs h3 {
    display: block;
    border: 5px solid #121111;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.usefull .item {
    display: none;
    margin: 30px 30px 30px 30px;
    /* border: 3px solid white;
    background-color: #121111; */
    color: black;
    width: 400px;
    /* width: auto; */
}

.usefull .item.visible {
    display: block;
}

.usefull h3 {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid white;
    padding: 1%;
}

.usefull h3.active {
    background-color: #121111;
    color: white;
}

.usefull .item .links {
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
}

.usefull a {
    margin: 2% 0;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

@media (max-width: 512px) {
    .usefull .usefull-tabs h3 {
        border: 5px solid #121111;
        border-radius: 20px;
        margin-bottom: 5px;
    }
}

/* News */
.news {
    /* margin: 30px 0; */
    background: linear-gradient(180deg, #B698C1 0%, #FA9294 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news h2 {
    color: white;
    background-color: #121111;
    font-size: 5rem;
    display: block;
    width: fit-content;
    font-weight: 600;
    margin: 30px;
    text-transform: uppercase;
}

.news .news-wrapper {
    overflow: hidden;
    width: 100%;
}

.news .news-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.news .news-item {
    display: flex;
    position: relative;
    margin: 30px 60px;
    background-color: #121111;
    /* border: 3px solid white; */
    padding: 5px;
}

.news .news-item::before {}

.news .news-item::after {}

.news .news-item img {}

.news .news-image {
    position: relative;
}

.news .news-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(241.92deg, rgba(250, 146, 148, 0.5) -17.33%, rgba(57, 39, 63, 0.5) 102.47%);
}

.news .news-item-text {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 30px;
}

.news .news-item-text h4 {
    font-size: 2.5rem;
    font-weight: 600;
}

.news .news-item-text p {
    font-size: 1.5rem;
}

.news .news-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.news .news-nav button {
    border: none;
    background-color: transparent;
    margin: 60px 5%;
    width: 45px;
    height: 45px;
    color: #121111;
}

.news-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 76px;
    display: flex;
    background-color: #121111;
    color: white;
    margin-top: 60px;
    margin-left: auto;
    margin-right: 30px;
}

.news-btn span {
    font-weight: 700;
    font-size: 57.5573px;
    line-height: 76px;
    width: 100%;
}

.news-nav ion-icon {
    width: 150%;
    height: 150%;
}

.new-btn ion-icon {
    color: white;
}

.news-btn span,
.news-btn ion-icon {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 57.5573px;
    line-height: 76px;
}

.projects {
    background: linear-gradient(180deg, #FA9294 0%, #FFA800 100%);
    height: auto;
}

.projects-container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.projects-box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    /* height: 470px; */
}

.projects h2 {
    margin-left: 200px;
    color: white;
    background-color: #121111;
    font-size: 5rem;
    display: block;
    width: fit-content;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.projects-small {
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.project-small-item {
    width: 300px;
    height: 180px;
    position: relative;
}

.project-small-item.smaller-big {
    display: none;
}

.project-small-item h4 {
    position: absolute;
    top: 116px;
    left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 21.7848px;
    line-height: 29px;
    /* identical to box height */
    border-radius: 8px;

    color: #FFFFFF;
    z-index: 5;
}

.project-small-item img {
    /* border-radius: 8px; */
    border: #ffffff solid 5px;

    background: white;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-small-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: linear-gradient(179.58deg, rgba(250, 146, 148, 0.1) -16.28%, rgba(57, 39, 63, 0.5) 87.35%);
}

.projects-big {
    position: relative;
    height: 404px;
    width: 600px;
    border: #ffffff solid 5px;
    /* border-radius: 20px !important; */
}

.projects-big-img {

    width: 100%;
    height: 100%;
    background: white;
}

.projects-big::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(179.58deg, rgba(250, 146, 148, 0.1) -16.28%, rgba(57, 39, 63, 0.5) 87.35%);
}

.projects-big-text {
    position: absolute;
    top: 200px;
    left: 36px;
    z-index: 5;
}

.projects-big-text h3 {
    font-weight: 700;
    font-size: 52.7694px;
    line-height: 70px;
    /* identical to box height */


    color: #FFFFFF;
}

.projects-big-text p {
    font-weight: 700;
    font-size: 19.7885px;
    line-height: 113.5%;
    /* or 22px */

    width: 430px;
    color: #FFFFFF;

}

.projects-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #121111;
    color: white;
    margin-top: 60px;
    margin-left: auto;
    margin-right: 30px;
}

.projects-btn span,
.projects-btn ion-icon {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 57.5573px;
    line-height: 76px;
}

.partners {
    background: #121111;
    padding: 150px 0;
}

.partner {
    width: 500px;
    height: 324px;
    position: relative;
    margin: 220px 0 0 0;
}

.partner-logo {
    display: flex;
    width: 150px;
    height: 150px;
}

/* .partner::before {
    content: '';
    width: 150px;
    height: 150px;
    background-color: #FFA800;
    display: block;
    position: absolute;
    bottom: 330px;
} */
.partners-container {
    /* padding-top: 150px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.partners-parent {
    display: flex;
    flex-wrap: wrap;
    max-width: 1450px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-left: 170px;
    margin-right: 170px;
}

.partners-title {
    font-weight: 500;
    font-size: 5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px;
}

.partner h4 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 50px;
    color: #FFFFFF;
}

.partner p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: -0.08em;
    max-width: 425px;
    color: #FFFFFF;

}

footer {
    display: flex;
    background: #121111;
    /* height: 100px; */
    padding: 10px;
    align-items: center;
    border-top: 2px solid white;
}

.social {
    display: flex;
    margin-left: 219px;
    gap: 50px;
}

.social * {
    font-size: 50px;
    color: #FFFFFF;
}

.phone {
    margin-left: auto;
    margin-right: 130px;
}

.phone span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 41px;

    color: #FFFFFF;

}

@media (max-width:1640px) {
    .projects-big {}
}

@media (max-width: 1350px) {
    .projects-box {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 1200px) {
    footer .social {
        margin-left: 70px;
    }

    footer .phone {
        margin-right: 70px;
    }
}

@media (max-width: 1024px) {
    header a {
        font-size: 0.8rem;
    }

    .header-burger ul li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 14px;
    }

    .partners-parent {
        margin-left: 0;
        margin-right: 0;
    }

    header ul {
        display: none;
    }

    header .burger-btn {
        display: block;
    }

    .header-burger ul li a {
        font-size: 1.5rem;
    }

    .usefull-box .item {
        margin: 15px;
    }

    .usefull .usefull-content {
        width: 100%;
    }

    .news .news-item {
        margin: 10px;
    }

    .news img {
        width: 90vw;
    }

    .partner {
        width: 425px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer .social {
        margin: 10px;
    }

    footer .phone {
        margin: 10px;
    }
}

@media(max-width: 700px) {
    .header-burger ul li a {
        font-size: 1.5rem;
    }
    .usefull h2, .news h2, .projects h2, .partners-container h2 {
        font-size: 4rem;
    }
    .hero h1 {
        font-size: 8rem;
    }
    .projects-btn span,
    .news-btn span {
        font-size: 2.7rem;
    }

    .projects-small {
        align-items: center;
        width: 100%;
    }

    .project-small-item.smaller-big {
        display: block;
    }

    .projects-big {
        display: none;
    }

    .projects h2 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    * {
        /* font-size: 12px; */
    }

    .header-burger ul li a {
        font-size: 1.5rem;
    }

    .usefull {
        margin: 19px 3px;
    }

    .usefull-box .row1,
    .row2 {
        flex-direction: column;
    }

    .usefull-box .item {
        width: 90%;
    }

    .hero span {
        transform: translate(0, 0);
    }

    .news-item-text {
        padding: 15px 10px;
    }

    .partners-container {
        padding-top: 30px;
    }

    .partners-parent {
        margin-top: 0;
    }

    .partner {
        width: 380px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .projects-btn,
    .news-btn {
        margin-right: auto;
    }

    .news-btn {}
}

@media (max-width: 375px) {

    .projects-btn span,
    .news-btn span {
        font-size: 1.5rem;
    }

    .partner {
        width: 320px;
        margin-top: 200px;
    }

    .partner-logo {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 320px) {
    .partner {
        width: 290px;
        margin-top: 170px;
    }
}